.content_title {
  width: auto;
  height: 100px;
  margin: 5% 10% 0 10% ;
  font-size: 30px;
  font-weight: bold;
  color: white;
  align-items: flex-start;
  justify-content: start;
}

.content_title div{
  display: flex;
  flex-direction: row;
}


.active{
  color: #F9B52F;
  margin-left: 20px;
}

.content_main{
  width: auto;
  height: auto;
  margin: 5% 7% 0 7% ;
  margin-bottom: 30px;
}

.content_main img{
  width: 100%;
  height: auto;
}
